body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
}

ul{
    display: flex;
    list-style: none;
}

.header-links {
    display: flex;
}

.header, .hero-section, .footer {
    color: white;
    background-color: #1f2937;
}

.hero-bold {
    font-size: 48px;
    font-weight: 600;
}

.hero-bold, .header-logo {
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
}

.hero-description{
    font-size: 18px;
}

.hero-description, .header-links {
    color: #e5e7eb;
}

button, .CTA-blue-box {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5px 22px;
    border: 2px solid;
    flex: none;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
}

.quote-section { 
    background-color: #e5e7eb;
    padding: 80px 160px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-attribution {
    text-align: right;
    margin-right: 15px;
}

.information-header, .quote {
    color: #1f2937;
}

.CTA-blue-box {
    display: flex;
    padding: 40px 30px;
}

.CTA-bold {
    font-weight: bold;
}

.CTA-left {
    margin-left: 80px
}

.sign-up-two {
    display: flex;
    border-color: white;
    margin-right: 80px;
    margin-left: 130px;
}

.CTA-section {
    display: flex;
    justify-content: center;
    padding: 60px;
}

.footer {
    text-align: center;
    padding: 20px;
    font-weight: lighter;
}